* {
  box-sizing: border-box;
}
.App {
  display: flex;
  justify-content: center;
}
.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 320px;
  border: 1px solid #fff;
  border-radius: 30px;
  color: #fff;
  background: #000;
}
.memory {
  width: 100%;
  height: 21px;
  margin-top: 20px;
  padding: 0 18px;
}
.buttonsWrapper {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.buttonsWrapper button {
  width: 60px;
  height: 60px;
  margin: 14px 14px 0 0;
  padding: 0;
  font-size: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 30px;
  background: #333;
  color: #fff;
}
.buttonsWrapper button[value="AC"],
.buttonsWrapper button[value="+/-"],
.buttonsWrapper button[value="%"] {
  background: #a5a5a5;
}
.buttonsWrapper button[value="AC"]:hover,
.buttonsWrapper button[value="+/-"]:hover,
.buttonsWrapper button[value="%"]:hover {
  color: #a5a5a5;
  background: #cecece;
}
.buttonsWrapper button[value="0"] {
  flex-basis: 134px;
}
.buttonsWrapper button:hover {
  color: #333;
  background: #a5a5a5;
  cursor: pointer;
}
.buttonsWrapper button:focus {
  outline: none;
}
.buttonsWrapper button:active {
  box-shadow: 0 0 10px 1px red;
}
.buttonsWrapper button:disabled {
  background: #131313;
}
.buttonsWrapper .rightColumnButton {
  margin-right: 0;
  background: #ff9a0a;
}
.buttonsWrapper .rightColumnButton:hover {
  color: #ff9a0a;
  background: #fff;
}
.buttonsWrapper button[value="/"]:focus,
.buttonsWrapper button[value="*"]:focus,
.buttonsWrapper button[value="-"]:focus,
.buttonsWrapper button[value="+"]:focus {
  box-shadow: 0 0 10px 1px red;
  color: #ff9a0a;
  background: #fff;
}
.number {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 60px;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 0 18px;
  font-size: 60px;
  line-height: 1;
}
.expression {
  width: 100%;
  height: 21px;
  padding: 0 18px;
  text-align: right;
}
.bottomLine {
  height: 5px;
  width: 35%;
  margin-bottom: 10px;
  background: #fff;
}
