.App {
  display: flex;
  justify-content: center;
}
.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 320px;
}
.wrapper button {
  width: 60px;
  margin: 10px;
}
.number {
  width: 100%;
  padding: 0 10px;
  font-size: 40px;
  text-align: right;
}
.result {
  width: 100%;
  padding: 0 10px;
  text-align: right;
}
